# PHPStorm
/.idea/

# VSCodeish
*.code-workspace

# Composer
/vendor/
/composer.phar

# Build data
.env
*.lock
/index.php
/*.js
/*.css
/*.latte
/templates/
/tests/
!/src/Minify/JavaScriptShrinker.php

# Node
/node_modules/
package-lock.json